%p.cron-result
  The command
  %code= cron.command
  will execute
  #{cron.schedule_description}.

.dms-logo
  %p How do you know when your cron jobs aren't running?
  .dms-image #{link_to(image_tag("https://s3.amazonaws.com/deadmanssnitch-marketing/dms-box-small.png"), "https://deadmanssnitch.com/?utm_campaign=cc&utm_source=cc&utm_medium=referral&utm_content=1")}
