<% form_tag check_url, { :method => :get } do %>
  <div class="main">
    <%= label_tag :statement, "Enter your cron statement" %>
    <%= text_field_tag :statement, params[:statement] %>
  </div>
  
  <div class="actions">
    <%= submit_tag "Check", :name => "" %>
  </div>
<% end %>
