<% content_for :page_title, "checking: #{h(@cron.statement)}"%>

<%= render :partial => "form" %>

<% if @cron.valid? %>
  <p>
    The command <code><%=h @cron.command %></code> will run
    <%=h @cron.english[:time] ? @cron.english[:time] : '' %>
    <%=h @cron.english[:date] ? @cron.english[:date] : '' %>.
  </p>
<% else %>
  <p>The statement is invalid.</p>
<% end %>