= render "shared/form"

%p
  Unix-y systems use cron to schedule tasks, and sometimes it’s hard to remember exactly what the arcane syntax means.
  Submit your cron statement, and we’ll explain it in plain English.

= render "samples"
