<p class="intro">
  Unix-y systems use cron to schedule tasks, and sometimes it&rsquo;s hard to
  remember exactly what the arcane syntax means. Submit your cron statement,
  and we&rsqou;ll explain it in plain English.
</p>
