<%= render 'form' %>

<p class="intro">
  Unix-y systems use cron to schedule tasks, and sometimes it&rsquo;s hard to
  remember exactly what the arcane syntax means. Submit your cron statement,
  and we&rsquo;ll explain it in plain English.
</p>

<div class="exmp">
  <h2>Some Examples</h2>

  <ul>
    <li><%= link_to_cron("0 0 * * * some_report.sh") %></li>
    <li><%= link_to_cron("@reboot cd /my/app && ruby script/server") %></li>
    <li><%= link_to_cron("0 0 1 */2 * payroll.sh") %></li>
  </ul>
</div>

