%footer.site-info
  %hr
  %p
    View the #{link_to "source on GitHub", "https://github.com/pbyrne/cron-checker/"}
    or #{link_to "submit an issue", "https://github.com/pbyrne/cron-checker/issues"} if something is amiss.
  %p Copyright &copy; 2009–#{Date.today.year} #{link_to "Patrick Byrne", "http://patrickbyrne.net"}.

