<!DOCTYPE html>
<html>
  <head>
    <title>cron checker</title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <h1>cron checker</h1>

    <%= yield %>

  </body>
</html>
