!!! 5

%html
  %head
    %title CronChecker
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render "shared/flash"
    = yield
